{% extends "base.html"%}
{% block content %}

<div class="container content">
    <div class="heading">
       <center> <h2>The Chief Coders</h2> </center>
       <center> <p>To try the most advanced business</p> </center>
    </div><!-- //end heading -->

	<div class="row">
        <div class="col-sm-4">
            <div class="team-members">
                <div class="team-avatar">
                    <img class="img-responsive" src="http://keenthemes.com/assets/bootsnipp/member1.png" alt="">
                </div>
                <div class="team-desc">
                    <h4>Mark Bagget</h4>
                    <span>Glorious Leader</span>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="team-members">
                <div class="team-avatar">
                    <img class="img-responsive" src="http://keenthemes.com/assets/bootsnipp/member2.png" alt="">
                </div>
                <div class="team-desc">
                    <h4>Shawn O'Brien</h4>
                    <span>Back End</span>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="team-members">
                <div class="team-avatar">
                    <img class="img-responsive" src="http://keenthemes.com/assets/bootsnipp/member3.png" alt="">
                </div>
                <div class="team-desc">
                    <h4>Dakota Harrison</h4>
                    <span>Back End</span>
                </div>
            </div>
        </div>
    </div><!-- //end row -->
    <div class="row">
        <div class="col-sm-4">
            <div class="team-members">
                <div class="team-avatar">
                    <img class="img-responsive" src="http://keenthemes.com/assets/bootsnipp/member1.png" alt="">
                </div>
                <div class="team-desc">
                    <h4>Phillip Lusby</h4>
                    <span>Front End</span>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="team-members">
                <div class="team-avatar">
                    <img class="img-responsive" src="http://keenthemes.com/assets/bootsnipp/member2.png" alt="">
                </div>
                <div class="team-desc">
                    <h4>Kamuran Yalcin</h4>
                    <span>Front End</span>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="team-members">
                <div class="team-avatar">
                    <img class="img-responsive" src="http://keenthemes.com/assets/bootsnipp/member3.png" alt="">
                </div>
                <div class="team-desc">
                    <h4>Christopher Jackson</h4>
                    <span>Front End</span>
                </div>
            </div>
        </div>
    </div><!-- //end row -->
    <div class="row">
        <div class="col-sm-4">
            <div class="team-members">
                <div class="team-avatar">
                    <img class="img-responsive" src="http://keenthemes.com/assets/bootsnipp/member1.png" alt="">
                </div>
                <div class="team-desc">
                    <h4>David Chimney</h4>
                    <span>Back End</span>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="team-members">
                <div class="team-avatar">
                    <img class="img-responsive" src="http://keenthemes.com/assets/bootsnipp/member2.png" alt="">
                </div>
                <div class="team-desc">
                    <h4>Taz Bowmaster</h4>
                    <span>Front End?</span>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="team-members">
                <div class="team-avatar">
                    <img class="img-responsive" src="http://keenthemes.com/assets/bootsnipp/member3.png" alt="">
                </div>
                <div class="team-desc">
                    <h4>Michael Carter</h4>
                    <span>Upgraded Member</span>
                </div>
            </div>
        </div>
    </div><!-- //end row -->
</div>

<br>
<br>
<center>
</center>
<br>
<br>
{% endblock%}


