{% extends "base.html" %} {% block content %}
<div class="container">
	<div class="row centered-form">
		<div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"> sign up for Save My Grad <small>(It's free!)</small></h3>
				</div>
				<div class="panel-body">
					<form role="form" method="post">
						<div class="row">
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">
									{{ createform.username(size=16, placeholder="Username")}}
									<!--<input type="text" name="first_name" id="first_name" class="form-control input-sm" placeholder="First Name">-->
								</div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">
									{{ createform.fullname(size=16, placeholder="Full Name")}}
									<!--<input type="text" name="last_name" id="last_name" class="form-control input-sm" placeholder="Last Name">-->
								</div>
							</div>
						</div>

						<div class="form-group">
							{{ createform.emailentry(size=30, placeholder="Twitter")}}
							<!--<input type="email" name="email" id="email" class="form-control input-sm" placeholder="Email Address">-->
						</div>

						<div class="row">
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">
									{{ createform.password(size=16, type="password", placeholder="Password")}}
									<!--<input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password">-->
								</div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">
									{{ createform.confirmpassword(size=16, type="password", placeholder="Confirm Password")}}
									<!--<input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-sm" placeholder="Confirm Password">-->
							</div></div>
						</div>
						<div class="row">
							<div class="col-xs-6 col-sm-6 col-md-6">
							<div class="form-group">
									{{ createform.image(size=30, placeholder="Link to Profile Image")}}
								</div>
								</div>
						</div>
						{% if message %}
							<p>{{ message }}</p>
						{% endif %}
						<input type="submit" value="Register" class="btn btn-info btn-block">

					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
