{% extends "base.html"%}
{% block content %}

<link rel="stylesheet" type="text/css" href="static/css/assignments.css" />
<div class="container">
    <div class="userinfo">
      <div class="col-md-3">
        {% if user %}
          <img class="img-responsive overflow-img img-rounded" src="{{ user.image }}" alt="picture"/>
            <p>{{ user.fullname }} <a class="btn-xs btn-primary" href="editprofile&u={{user.fullname}}"><span class="glyphicon glyphicon-pencil"></span> Edit Profile</a></p>
        {% endif %}
        {% if tags %}
        <br/>
          <h4>Limit by My Tags:</h4>
          <p><a class="btn-sm btn-primary" href="/assignments&u={{ user.username }}&tag=All"><span class="glyphicon glyphicon-check"></span> Show Me Everything</a></p>
          {% for tag in tags %}
          <p><a class="btn-xs btn-success" href="/assignments&u={{ user.username }}&tag={{ tag }}"><span class="glyphicon glyphicon-star"></span> {{ tag }}</a></p>
          {% endfor %}
        {% endif %}
        </div>
    </div>
    <div class="assignments">
      <div class="col-md-9">
        <h3>
          <!--<a href="#" data-toggle="popover" title="Popover Header" data-content="Some content inside the popover">Add Item</a>-->
          <label for="new-task">Add Item</label></h3>
          <form role="form" method="post">
          <div class="form-group"> <!-- Date input -->
            <label class="control-label" for="title">Title</label>
            {{ assignmentform.title(size=30, placeholder="Name of Activity")}}
            <!--<input id="title" type="text">-->
            <label class="control-label" for="tag">Tag</label>
            {{ assignmentform.tag(size=20, placeholder="Type of Activity")}}
            <!--<input id="title" type="text"><br/>-->
            <br/>
            <label class="control-label" for="date">Due Date</label>
            {{ assignmentform.date(class="control-label", id="date", placeholder="MM-DD-YYYY")}}
            <!--<input class="control-label" id="date" name="date" placeholder="MM/DD/YYY" type="text"/>-->
        <!--<button>Add</button>-->
        <input type="submit" value="Add" class="btn btn-primary btn-block" name="btn">
        </form>
      </div>
        
        <br>
        
        <h3>
          <label for="new-task">To do</label>
        </h3>
          
            <form role="form" method="post">
              <div class="form-group"> 
            {% if assignments %}
              {% set i = 0 %}
              {% for assignment in assignments %}
                {% if (assignment.status != True) %}
                  {% set newtitle = assignment.title %}
                  {% set number = i + 1 %} 
                  {% set statusx = "status" + number|string %}
                  {% set duedate = assignment.duedate|string|truncate(10, false,"") %}
                  {% if number == 1 %}
                  <p>{{statusform.status1(value=newtitle)}} - <b>{{assignment.title}}</b> - {{duedate}} - <b><a class="btn btn-success btn-xs" href="/assignments&u={{ user.username }}&tag={{ assignment.tag }}"><span class="glyphicon glyphicon-star"></span> {{assignment.tag}}</a></b> - <a class="btn btn-info btn-xs" href="/edit_assignment&u={{ user.username }}&title={{ assignment.title }}&date={{ duedate }}&tag={{assignment.tag}}"><span class="glyphicon glyphicon-pencil"></span> Edit</a> - <a class="btn btn-danger btn-xs" href="/deleteassignment&u={{ user.username }}&assignment={{ assignment.title }}&date={{ duedate }}"><span class="glyphicon glyphicon-trash"></span> Delete</a></p>
                  {% elif number == 2 %}
                  <p>{{statusform.status2(value=newtitle)}} - <b>{{assignment.title}}</b> - {{duedate}} - <b><a class="btn btn-success btn-xs" href="/assignments&u={{ user.username }}&tag={{ assignment.tag }}"><span class="glyphicon glyphicon-star"></span> {{assignment.tag}}</a></b> - <a class="btn btn-info btn-xs" href="/edit_assignment&u={{ user.username }}&title={{ assignment.title }}&date={{ duedate }}&tag={{assignment.tag}}"><span class="glyphicon glyphicon-pencil"></span> Edit</a> - <a class="btn btn-danger btn-xs" href="/deleteassignment&u={{ user.username }}&assignment={{ assignment.title }}&date={{ duedate }}"><span class="glyphicon glyphicon-trash"></span> Delete</a></p>
                  {% elif number == 3 %}
                  <p>{{statusform.status3(value=newtitle)}} - <b>{{assignment.title}}</b> - {{duedate}} - <b><a class="btn btn-success btn-xs" href="/assignments&u={{ user.username }}&tag={{ assignment.tag }}"><span class="glyphicon glyphicon-star"></span> {{assignment.tag}}</a></b> - <a class="btn btn-info btn-xs" href="/edit_assignment&u={{ user.username }}&title={{ assignment.title }}&date={{ duedate }}&tag={{assignment.tag}}"><span class="glyphicon glyphicon-pencil"></span> Edit</a> - <a class="btn btn-danger btn-xs" href="/deleteassignment&u={{ user.username }}&assignment={{ assignment.title }}&date={{ duedate }}"><span class="glyphicon glyphicon-trash"></span> Delete</a></p>
                  {% elif number == 4 %}
                  <p>{{statusform.status4(value=newtitle)}} - <b>{{assignment.title}}</b> - {{duedate}} - <b><a class="btn btn-success btn-xs" href="/assignments&u={{ user.username }}&tag={{ assignment.tag }}"><span class="glyphicon glyphicon-star"></span> {{assignment.tag}}</a></b> - <a class="btn btn-info btn-xs" href="/edit_assignment&u={{ user.username }}&title={{ assignment.title }}&date={{ duedate }}&tag={{assignment.tag}}"><span class="glyphicon glyphicon-pencil"></span> Edit</a> - <a class="btn btn-danger btn-xs" href="/deleteassignment&u={{ user.username }}&assignment={{ assignment.title }}&date={{ duedate }}"><span class="glyphicon glyphicon-trash"></span> Delete</a></p>
                  {% elif number == 5 %}
                  <p>{{statusform.status5(value=newtitle)}} - <b>{{assignment.title}}</b> - {{duedate}} - <b><a class="btn btn-success btn-xs" href="/assignments&u={{ user.username }}&tag={{ assignment.tag }}"><span class="glyphicon glyphicon-star"></span> {{assignment.tag}}</a></b> - <a class="btn btn-info btn-xs" href="/edit_assignment&u={{ user.username }}&title={{ assignment.title }}&date={{ duedate }}&tag={{assignment.tag}}"><span class="glyphicon glyphicon-pencil"></span> Edit</a> - <a class="btn btn-danger btn-xs" href="/deleteassignment&u={{ user.username }}&assignment={{ assignment.title }}&date={{ duedate }}"><span class="glyphicon glyphicon-trash"></span> Delete</a></p>
                  {% elif number == 6 %}
                  <p>{{statusform.status6(value=newtitle)}} - <b>{{assignment.title}}</b> - {{duedate}} - <b><a class="btn btn-success btn-xs" href="/assignments&u={{ user.username }}&tag={{ assignment.tag }}"><span class="glyphicon glyphicon-star"></span> {{assignment.tag}}</a></b> - <a class="btn btn-info btn-xs" href="/edit_assignment&u={{ user.username }}&title={{ assignment.title }}&date={{ duedate }}&tag={{assignment.tag}}"><span class="glyphicon glyphicon-pencil"></span> Edit</a> - <a class="btn btn-danger btn-xs" href="/deleteassignment&u={{ user.username }}&assignment={{ assignment.title }}&date={{ duedate }}"><span class="glyphicon glyphicon-trash"></span> Delete</a></p>
                  {% elif number == 7 %}
                  <p>{{statusform.status7(value=newtitle)}} - <b>{{assignment.title}}</b> - {{duedate}} - <b><a class="btn btn-success btn-xs" href="/assignments&u={{ user.username }}&tag={{ assignment.tag }}"><span class="glyphicon glyphicon-star"></span> {{assignment.tag}}</a></b> - <a class="btn btn-info btn-xs" href="/edit_assignment&u={{ user.username }}&title={{ assignment.title }}&date={{ duedate }}&tag={{assignment.tag}}"><span class="glyphicon glyphicon-pencil"></span> Edit</a> - <a class="btn btn-danger btn-xs" href="/deleteassignment&u={{ user.username }}&assignment={{ assignment.title }}&date={{ duedate }}"><span class="glyphicon glyphicon-trash"></span> Delete</a></p>
                  {% elif number == 8 %}
                  <p>{{statusform.status8(value=newtitle)}} - <b>{{assignment.title}}</b> - {{duedate}} - <b><a class="btn btn-success btn-xs" href="/assignments&u={{ user.username }}&tag={{ assignment.tag }}"><span class="glyphicon glyphicon-star"></span> {{assignment.tag}}</a></b> - <a class="btn btn-info btn-xs" href="/edit_assignment&u={{ user.username }}&title={{ assignment.title }}&date={{ duedate }}&tag={{assignment.tag}}"><span class="glyphicon glyphicon-pencil"></span> Edit</a> - <a class="btn btn-danger btn-xs" href="/deleteassignment&u={{ user.username }}&assignment={{ assignment.title }}&date={{ duedate }}"><span class="glyphicon glyphicon-trash"></span> Delete</a></p>
                  {% elif number == 9 %}
                  <p>{{statusform.status9(value=newtitle)}} - <b>{{assignment.title}}</b> - {{duedate}} - <b><a class="btn btn-success btn-xs" href="/assignments&u={{ user.username }}&tag={{ assignment.tag }}"><span class="glyphicon glyphicon-star"></span> {{assignment.tag}}</a></b> - <a class="btn btn-info btn-xs" href="/edit_assignment&u={{ user.username }}&title={{ assignment.title }}&date={{ duedate }}&tag={{assignment.tag}}"><span class="glyphicon glyphicon-pencil"></span> Edit</a> - <a class="btn btn-danger btn-xs" href="/deleteassignment&u={{ user.username }}&assignment={{ assignment.title }}&date={{ duedate }}"><span class="glyphicon glyphicon-trash"></span> Delete</a></p>
                  {%endif%}
                  {% set i = i + 1 %}
                {% endif %}
              {% endfor %}
          
                <input type="submit" value="Mark Checked Items Complete" class="btn btn-primary btn-block" name="btn">
              
            {% else %}
              <p>You have no assignments pending.</p>
            {% endif %}
            <!--<li class="todo"><input type="checkbox"><label>Be Productive</label><button class="edit">Edit</button><button class="delete">Delete</button></li>-->
            <!--<li class="todo"><input type="checkbox"><label>Do something</label><button class="edit">Edit</button><button class="delete">Delete</button></li>-->
            </div>
            </form>
          
        <br>
        <h3>
          <label for="new-task">Completed</label>
        </h3>
          <ul class= "completed-tasks" id="completed-tasks">
            {% if assignments %}
              {% for assignment in assignments %}
                {% if (assignment.status == True) %}
                {% set duedate = assignment.duedate|string|truncate(10, false,"") %}
                    <li class="todo">
                      <!--<input type="checkbox"><label>Go live life</label><button class="edit">Edit</button><button class="delete">Delete</button>-->
                      <label><b>{{ assignment.title }}</b> - {{ duedate }}</label>
                    </li>
                {% endif %}
              {% endfor %}
            {% endif %}
          </ul>
      </div>
    </div>




</div>           
{% endblock %}