<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  {% if title %}
  <title>{{ title }}</title>
  {% else %}
  <title>Project Calendar</title>
  {% endif %}
  <link rel="stylesheet" type="text/css" href="static/css/baseassets.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  
  <!--Date Picker Stuff-->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<!-- Isolated Version of Bootstrap, not needed if your site already uses Bootstrap -->
<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />
<!-- Bootstrap Date-Picker Plugin -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<script>
    $(document).ready(function(){
        var date_input=$('input[name="date"]'); //our date input has the name "date"
        var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
        date_input.datepicker({
            format: 'mm-dd-yyyy',
            container: container,
            todayHighlight: true,
            autoclose: true,
        })
    })
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
</head>

<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/index"><span class="glyphicon glyphicon-home"></span> Save My Grad</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/assignments"><span class="glyphicon glyphicon-calendar"></span> Assignments</a></li>
        <li><a href="/features"><span class="glyphicon glyphicon-check"></span> Features</a></li>
        <li><a href="/about"><span class="glyphicon glyphicon-info-sign"></span> About</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
          {% if logged_in != "True" %}
          <li><a href="/accountcreation"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          {% else %}
          <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          {% endif %}
          
      </ul>


    </div>
  </nav>

  <!--Invisible login div -->

  <!--<div id="popup1" class="overlay">-->
  <!--  <div class="">-->
  <!--    <form action="" method="post" name="search">-->
  <!--      {# The next line will be the input for username. #} {{ userform.userlogin(size=30, placeholder="Username")}}-->
  <!--      <a class="close" href="#">&times;</a> {# The next line will be the input for password. #} {{ userform.passlogin(size=30, placeholder="Password")}}-->
  <!--      <input type="submit" value="Sign In">-->
  <!--    </form>-->
  <!--  </div>-->
  <!--</div>-->
  <!-- Invisible login div -->

  {% block content %} {% endblock %}
  
  <footer class="position:fixed-bottom">
    <p style="color:white; background-color:#333333; text-align:center">Save My Grad - CodeTN</p>
  </footer>




</body>

</html>
