{% extends "base.html" %} {% block content %}
<div class="container">
    <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"> Edit Assignment for Save My Grad! </h3>
                </div>
                <div class="panel-body">
                    <div class="assignments">
                        <form role="form" method="post">
                            <div class="form-group">
                                <label class="control-label" for="title">Title</label> {{ assignmentform.title(size=30, placeholder="Name of Activity")}}
                                <br/>
                                <label class="control-label" for="tag">Tag</label> {{ assignmentform.tag(size=20, placeholder="Type of Activity")}}
                                <br/>
                                <label class="control-label" for="date">Due Date</label> {{ assignmentform.date(class="control-label", id="date", placeholder="MM-DD-YYYY")}}
                                <input type="submit" value="Add" class="btn btn-primary btn-block" name="btn">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
