{% extends "base.html"%}
{% block content %}
<div class="container content">
    <div class="heading">
       <center> <h2 style="font-size: 100px"><strong>What We've Done Here</strong></h2> </center>
       <center> <p style="font-size:50px"><I>The Ins and Outs of our website</I></p> </center>
    </div><!-- //end heading -->

	<div class="row">
        <div class="col-sm-4">
            <div class="feautre">
                <div class="feature-image">
                    <img class="img-responsive" src="../static/images/tag.png" alt="">
                </div>
                <div class="team-desc">
                    <h4>Find what you need!</h4>
                    <span>Add a title, date, and a tag so you can <i>easily</i> find what you need</span>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="feature">
                <div class="feature-image">
                    <img class="img-responsive" src="../static/images/completed.png" alt="">
                </div>
                <div class="team-desc">
                    <h4>See previously completed items!</h4>
                    <span>By using the tags system, and the "Completed" section, you can see your previously completed.</span>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="feature">
                <div class="feature-image">
                    <img class="img-responsive" src="../static/images/create.png" alt="">
                </div>
                <div class="team-desc">
                    <h4>Create an account</h4>
                    <span>Save your progress with an account that you can login into your account on any device and see your remidners!</span>
                </div>
            </div>
        </div>
    </div><!-- //end row -->
</div>
<br>
<br>
{% endblock %}
