{% extends "base.html" %} {% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <!--<div style="width: 60em; align: center;">-->
        <!--  <div class="text-center">-->
         <center>  <h1 class="text-center">Welcome to Save My Grad</h1></center> 
         <hr>
            <p class="lead">Within the hustle and bustle of modern day life, it can become very difficult to keep track of all developments. It has become crucial in the information era to keep track of dozens of events and dates, to the point where fending off madness has risen as the norm. That is where Save My Grad comes in. Save my Grad is a simple time management app designed to give you a decent understanding of all upcoming events.</p>
            <p class="lead">So <a class="link" href="/login">create an account</a>, enter in some <a class="link" href="/assignments">assignments</a>, sit back, and enjoy a new feeling of understanding one's scheduled life.</p>


          <!--</div>-->
        </div>
      </div>
      </div>



</div>
{% endblock %}
