{% extends "base.html" %} {% block content %}

        <div class="container">
            <div class="row centered-form">
                <!--<div class="col-md-12 col-md-8 col-md-4 col-md-offset-4 col-md-offset-4">-->
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 style="text-align:center"> Log-In </h3>
                        </div>
                        <div class="panel-body">
                            <form role="form" method="post">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-md-12">

                                        <div class="form-group">
                                            <!--<input type="email" name="email" id="email" class="form-control input-sm" placeholder="Email Address">-->
                                            {{ userform.userlogin(class="form-control input-sm", placeholder="Username")}}
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12 col-md-12 col-md-12">
                                                <div class="form-group">
                                                    <!--<input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password">-->
                                                    {{ userform.passlogin(class="form-control input-sm", placeholder="Password",type="password")}}
                                                    <p style="text-align:center"><a href="/accountcreation">Sign-Up</a></p>
                                                </div>
                                            </div>
{% if failed == "True" %}
<p style="color: red; text-align:center">Login Failed.  <a href="/accountcreation">Sign-Up</a> or Rety.  </p>
{% endif %}
                                            <input type="submit" value="Login" class="btn btn-info btn-block">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}